.highlight {
  background-color: #b59ed7;
  color: white;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.rodape-decoracao {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b8cbd6;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
  z-index: 1;
}

/* Garante que o texto fique acima do triângulo azul */
.highlight p {
  position: relative;
  z-index: 2;
}
